@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
    display: flex;
    justify-content: center;
}

.vasakpool {
    margin: 5px;
}

.parempool {
    margin: 5px;
}

.pilt {
    width: 45vw;
    
}

.sotsmeedia {
    display: flex;
    justify-content: space-around;
}

.link {
    font-size: 120%;
    
}

h1 {
    font-family: 'Dancing Script', cursive;
}

h2 {
    font-family: 'Dancing Script', cursive;
    margin: 5px;
}

.kontakt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sotsmeedia {
    margin: 10px;
}

.kaart {
    width: 45vw;
    height: 150px;
}

.icon {
    width: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.social {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 20px;
    border-style: solid;
    text-align: center;
    color: black;
    
}

.lingid {
    font-family: 'Comfortaa', cursive;
    color: black;
}